.categoryList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
}
.categoryItem{
    width: 80px;
    padding: 14px 14px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}


.categoryItem.style {
    background-color: #57c4ff31;
  }
  .categoryItem.fashion {
    background-color: #da85c731;
  }
  .categoryItem.food {
    background-color: #7fb88133;
  }
  .categoryItem.travel {
    background-color: #ff795736;
  }
  .categoryItem.culture {
    background-color: #ffb04f45;
  }
  .categoryItem.coding {
    background-color: #5e4fff31;
  }