.container{
    margin-top: 50px;
    padding-right: 15px;
}

.title{
        color: var(--softTextColor);
        margin-bottom: 30px;
}

.write{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
}

.input{
    width: 100% !important;
    padding: 20px;
    outline: none;
}

.button{
    padding: 16px 20px;
    background-color: teal;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.comments{
    margin-top: 50px;
}

.comment{
    margin-top: 50px;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.image{
    border-radius: 50%;
    object-fit: cover;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.userName{
    font-weight: 500;
}

.date{
    font-size: 14px;
}

.desc{
    font-size: 18px;
    font-weight: 300;
}
