.container{
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: .1rem;
    cursor: pointer;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
